<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository)**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
#import warnings
#warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
for (gender ,sub_dataframe) in data.groupby('sex'):
    print('This dataset have {} {}(s).'.format(sub_dataframe['sex'].count(),gender))

data.sex.value_counts()

This dataset have 10771 Female(s).
This dataset have 21790 Male(s).

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
a=data[data.sex == 'Female']['age'].mean()
print ('The average age of women is {:.0f} years.'.format(a))

The average age of women is 37 years.

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
a = data['native-country'].value_counts(normalize=True)['Germany']
print ('The percentage of German citizens is {:.1%}.'.format(a))

The percentage of German citizens is 0.4%.

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
#data.salary.value_counts()

for (age_per_salary ,sub_dataframe) in data.groupby('salary'):
    print('The mean and standard deviation of age for who earn {} are {:.2f} and {:.2f}.'.format(age_per_salary , 
                                                                                  sub_dataframe['age'].mean() , 
                                                                                  sub_dataframe['age'].std()))

The mean and standard deviation of age for who earn <=50K are 36.78 and 14.02.
The mean and standard deviation of age for who earn >50K are 44.25 and 10.52.

6. Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [7]:
HighSlr_HighEdu = data[(data['salary'] == '>50K')&(data['education-num'] < 9)]
result = 'True' if HighSlr_HighEdu.empty else 'False'
print( '\033[1m'+'Is it true that people who earn more than 50K have at least high school education?'+'\033[0m', result)
print('\n')
print('\033[1m'+'See the data below:'+'\033[0m')
print('\n')
print(HighSlr_HighEdu)

Is it true that people who earn more than 50K have at least high school education? False


See the data below:


       age     workclass  fnlwgt education  education-num      marital-status  \
183     40       Private  286370   7th-8th              4  Married-civ-spouse
214     54  Self-emp-inc  125417   7th-8th              4  Married-civ-spouse
415     35       Private   92440      12th              8            Divorced
588     52       Private   25826      10th              6  Married-civ-spouse
592     60       Private   39352   7th-8th              4       Never-married
...    ...           ...     ...       ...            ...                 ...
31998   52             ?   89951      12th              8  Married-civ-spouse
32084   48       Private  105808       9th              5             Widowed
32138   50  Self-emp-inc  121441      11th              7       Never-married
32179   58       Private  250206      10th              6  Married-civ-spouse
32214   22     Local-gov  164775   5th-6th              3       Never-married

              occupation    relationship   race     sex  capital-gain  \
183    Machine-op-inspct         Husband  White    Male             0
214    Machine-op-inspct         Husband  White    Male             0
415         Craft-repair   Not-in-family  White    Male             0
588         Craft-repair         Husband  White    Male             0
592     Transport-moving   Not-in-family  White    Male             0
...                  ...             ...    ...     ...           ...
31998                  ?            Wife  Black  Female             0
32084   Transport-moving       Unmarried  White    Male             0
32138    Exec-managerial  Other-relative  White    Male             0
32179       Craft-repair         Husband  White    Male          5178
32214  Handlers-cleaners  Other-relative  White    Male             0

       capital-loss  hours-per-week native-country salary
183               0              40         Mexico   >50K
214               0              40  United-States   >50K
415               0              50  United-States   >50K
588            1887              47  United-States   >50K
592               0              48  United-States   >50K
...             ...             ...            ...    ...
31998             0              40  United-States   >50K
32084             0              40  United-States   >50K
32138          2444              40  United-States   >50K
32179             0              40  United-States   >50K
32214             0              40      Guatemala   >50K

[244 rows x 15 columns]

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
print('\033[1m'+'###Please see below the age statistics for each race and each gender:\n'+'\033[0m')
a= data.groupby(['race','sex'])['age'].describe()
print(a)
print('\n')

print('\033[1m'+'###Please see below the max age statistics for each race and each gender:\n'+'\033[0m')
b=data.groupby(['race','sex'])['age'].max()
print(b)
print('\n')

c = data.loc[data['race'] == 'Amer-Indian-Eskimo', 'age'].max()
print('\033[1m'+'The maximum age of men of Amer-Indian-Eskimo race is'+'\033[0m'': {}'.format(c))

###Please see below the age statistics for each race and each gender:

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0


###Please see below the max age statistics for each race and each gender:

race                sex
Amer-Indian-Eskimo  Female    80
                    Male      82
Asian-Pac-Islander  Female    75
                    Male      90
Black               Female    90
                    Male      90
Other               Female    74
                    Male      77
White               Female    90
                    Male      90
Name: age, dtype: int64


The maximum age of men of Amer-Indian-Eskimo race is: 82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [250]:
def small_marital_status (marital):
    if marital.startswith('Married'):
        return 'Married' 
    else:
        return 'Bachelor' 

data['marital-status-small'] = data['marital-status'].apply(small_marital_status)

a = data[(data['sex'] == 'Male')&(data['salary'] == '>50K')]['marital-status-small'].value_counts(normalize = True)

print('Married men who earn >50K are: {:.1%} and Bachelor are {:.1%}'.format(a.loc['Married'], a.loc['Bachelor']))

Married men who earn >50K are: 89.5% and Bachelor are 10.5%

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [175]:
print('\033[1m''The maximum number of hours a person works per week is:''\033[0m' '{}. '.format(data['hours-per-week'].max()))

max_hours = data['hours-per-week'].max()
b = data[data['hours-per-week'] == max_Hours]['age'].count()
print('\033[1m''How many people work {} hours:''\033[0m' '{}. '.format(max_hours,b))


Rich = data[(data['salary'] == '>50K')]['age'].count()
Rich_Hard_Work = data[(data['hours-per-week'] == max_Hours) & (data['salary'] == '>50K')]['age'].count()


print('\033[1m''What is the percentage of those who earn (>50K) and work the maximum number of hours?''\033[0m' 
                                                                                '{:.2f}%. '.format(
                                                                                (Rich_Hard_Work/Rich)*100))

The maximum number of hours a person works per week is:99.
How many people work 99 hours:85.
What is the percentage of those who earn (>50K) and work the maximum number of hours?0.32%.

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [257]:
print('\033[1m'+'###Please see below the average time of work for those who earn a little/lot per country:\n'+'\033[0m')
sample = data.pivot_table(['hours-per-week'],['native-country'],['salary'], aggfunc = 'mean')
print(sample)

print('\033[1m'+'### What will these be for Japan?\n'+'\033[0m')
print(sample.loc['Japan'])

###Please see below the average time of work for those who earn a little/lot per country:

                           hours-per-week
salary                              <=50K       >50K
native-country
?                               40.164760  45.547945
Cambodia                        41.416667  40.000000
Canada                          37.914634  45.641026
China                           37.381818  38.900000
Columbia                        38.684211  50.000000
Cuba                            37.985714  42.440000
Dominican-Republic              42.338235  47.000000
Ecuador                         38.041667  48.750000
El-Salvador                     36.030928  45.000000
England                         40.483333  44.533333
France                          41.058824  50.750000
Germany                         39.139785  44.977273
Greece                          41.809524  50.625000
Guatemala                       39.360656  36.666667
Haiti                           36.325000  42.750000
Holand-Netherlands              40.000000        NaN
Honduras                        34.333333  60.000000
Hong                            39.142857  45.000000
Hungary                         31.300000  50.000000
India                           38.233333  46.475000
Iran                            41.440000  47.500000
Ireland                         40.947368  48.000000
Italy                           39.625000  45.400000
Jamaica                         38.239437  41.100000
Japan                           41.000000  47.958333
Laos                            40.375000  40.000000
Mexico                          40.003279  46.575758
Nicaragua                       36.093750  37.500000
Outlying-US(Guam-USVI-etc)      41.857143        NaN
Peru                            35.068966  40.000000
Philippines                     38.065693  43.032787
Poland                          38.166667  39.000000
Portugal                        41.939394  41.500000
Puerto-Rico                     38.470588  39.416667
Scotland                        39.444444  46.666667
South                           40.156250  51.437500
Taiwan                          33.774194  46.800000
Thailand                        42.866667  58.333333
Trinadad&Tobago                 37.058824  40.000000
United-States                   38.799127  45.505369
Vietnam                         37.193548  39.200000
Yugoslavia                      41.600000  49.500000
### What will these be for Japan?

                salary
hours-per-week  <=50K     41.000000
                >50K      47.958333
Name: Japan, dtype: float64